    <?php
        if ($cities->count() > 0) {
            ?>
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th>City</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="3">Cities quantity: <?php echo $cities->count(); ?></td>
                </tr>
                </tfoot>
                <tbody>
                <?php foreach ($cities as $city) { ?>
                    <tr>
                        <td><?php echo $city->id; ?></td>
                        <td><?php echo $city->city; ?></td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
            <?php
        }

    ?>