<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Sign up using this form</h2>

    <?php echo $this->tag->form("weather/weather"); ?>

    <p>
        <label for="city">City</label>
        <?php echo $this->tag->textField("city"); ?>
    </p>

    <p>
        <label for="lat">Latitude</label>
        <?php echo $this->tag->textField("lat"); ?>
    </p>

    <p>
        <label for="lan">Longitude</label>
        <?php echo $this->tag->textField("lon"); ?>
    </p>

    <p>
        <?php echo $this->tag->submitButton("Get Weather"); ?>
    </p>

    </form>

    <div><a href="getcities">Get Entered Cities</a></div>


</body>
</html>