<!--<h2>Weather</h2>-->
<?php //if(isset($error)): ?>
<!--    <h1>--><?php //echo $error; ?><!--</h1>-->
<?php //else: ?>
<!--<div>-->
<!--    <label><b>description: </b></label>-->
<!--    <span>--><?php //print($weather->weather[0]->description); ?><!--</span>-->
<!--</div>-->
<!--<div>-->
<!--    <label><b>temperature: </b></label>-->
<!--    <span>--><?php //print_r($weather->main->temp); ?><!--</span>-->
<!--</div>-->
<!--<div>-->
<!--    <label><b>pressure: </b></label>-->
<!--    <span>--><?php //print_r($weather->main->pressure); ?><!--</span>-->
<!--</div>-->
<!--<div>-->
<!--    <label><b>humidity: </b></label>-->
<!--    <span>--><?php //print_r($weather->main->humidity); ?><!--</span>-->
<!--</div>-->
<!--<div>-->
<!--    <label><b>wind: </b></label>-->
<!--    <span>--><?php //print_r($weather->wind->speed); ?><!--</span>-->
<?php //endif; ?>


<?php print_r($weather); ?>

<?php print_r($data_redis); ?>
